<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Excluir</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        Tem certeza que deseja deletar este item?
        <br>
        <br><label for="nome">NOME:</label> "{{nome}}"
        <br><label for="descricao">DESCRIÇÃO:</label> "{{descricao}}"
        <br><label for="valor">VALOR:</label> {{ valor | currency:'BRL':'symbol':'1.2-2':'pt' }}
    </p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
        (click)="activeModal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="activeModal.close(id)">Excluir</button>
</div>